---
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Layout from '~/layouts/PageLayout.astro';
import { useTranslations } from '~/utils/i18n';

const t = useTranslations('zh');

const metadata = {
  title: t('nav.aboutUs'),
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero2
    image={{
      src: '~/assets/images/about-us-1.jpg',
      alt: 'About us hero image',
    }}
  >
    <Fragment slot="title">{t('aboutPage.welcomeTitle')}</Fragment>

    <Fragment slot="subtitle">
      {t('aboutPage.welcomeSubtitle')}
    </Fragment>
  </Hero2>

  <Hero
    image={{
      src: '~/assets/images/about-staff.jpg',
      alt: 'About us staff image',
    }}
  >
    <Fragment slot="title">{t('aboutPage.staffTitle')}</Fragment>

    <Fragment slot="subtitle">
      我们的团队由<span class="underline underline-offset-1">在会计、税务和公司秘书方面拥有丰富经验的高素质人才</span>组成。我们的高级成员是<span class="font-bold">来自新加坡的特许会计师</span>，其余成员持有相关学位和专业证书，并在各自专业领域拥有所需的工作经验。
    </Fragment>
  </Hero>
</Layout> 