---
import Layout from '~/layouts/LandingLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import ServiceItem from '~/components/widgets/ServiceItem.astro';

const metadata = {
  title: 'Accounting',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Singapore Accounting Services"
    title="<span class='text-accent'>Worry-Free</span> Accounting With Us"
    subtitle="Focus on growing your business while we take care of the complexities of accounting. Our reliable accounting services provide you with <span class='font-bold text-secondary'>peace of mind</span>, knowing your books and records are accurately maintained and up-to-date."
    image={{ src: '~/assets/images/accounting.jpg', alt: 'Accounting hero image' }}
  />
  <ServiceItem
    title="Our Services"
    items={[
      {
        title: 'Accounting and Bookkeeping',
        details: [
          "<b>Setup & Transition</b>: We'll establish your books and ledgers within Xero, QuickBooks, or other cloud-based accounting systems, and help you seamlessly transition from legacy systems.",
          "<b>Bookkeeping</b>: We'll maintain accurate bookkeeping based on approved payment vouchers, claim forms, bank statements, and other accounting source information.",
          "<b>Automated Bank Account Feeds</b>: We'll establish automated bank account feeds for efficient and secure transaction tracking.",
          "<b>Online Payment Approval</b>: We'll set up online payment approval processes to enhance transparency and control.",
        ],
        serviceType: 'Available Plans: Monthly, Quarterly, or Annually',
      },
      {
        title: 'Financial Reporting & Management Accounts',
        description:
          "We'll prepare and submit your accounts (Trial Balance, Income Statement, Balance Sheet, and Bank Reconciliation) to your local office and headquarters for approval.",
        serviceType: 'Available Plans: Monthly, Quarterly, or Annually',
      },
      {
        title: 'Compliance Reporting',
        details: [
          "<b>Year-End Financial Statements</b>: We'll prepare your year-end financial statements in accordance with Singapore law, using either our previously prepared monthly/quarterly accounts or your existing financial records.",
          "<b>XBRL Conversion</b>: For companies with corporate shareholders or those subject to regulations, we'll convert your financial statements into the required XBRL format for filing with the relevant authorities.",
        ],
        serviceType: 'Available Plan: Annually',
      },
      {
        title: 'Goods and Services Tax (GST)',
        description:
          'Businesses with an annual turnover exceeding S$1,000,000 are required to register for GST. Companies with a turnover below S$1,000,000 can choose to voluntarily register. All registered companies must file a quarterly GST return. We offer the following GST services:',
        details: [
          "<b>GST Registration Advice</b>: We'll advise companies with a turnover below S$1,000,000 whether voluntary registration is beneficial.",
          "<b>GST Registration</b>: We'll assist in registering your company for GST.",
          "<b>Quarterly GST Computation and Filing</b>: We'll accurately calculate and file your quarterly GST returns.",
          "<b>Goods and Services Classification</b>: We'll classify your goods and services into taxable, non-taxable, and zero-rated categories for accurate GST reporting.",
        ],
        serviceType: 'Period: Quarterly',
      },
      {
        title: 'Audit Assistance',
        description:
          "We'll advise you on whether your company needs an audit under Singapore law. If an audit is required, we have established relationships with reputable local and international audit firms and will work closely with them to ensure a smooth and efficient process. We'll provide the necessary schedules, supporting documents, and answers to their queries, minimizing disruption to your business operations.",
        serviceType: 'Available Plan: Annually',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>
  </ServiceItem>
</Layout>
