---
import Layout from '~/layouts/LandingLayout.astro';

import ServiceItem from '~/components/widgets/ServiceItem.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';

const metadata = {
  title: 'Tax Advisory',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    tagline="Company Secretary in Singapore"
    title="Expert Support for Seamless Compliance"
    subtitle="Stay compliant with Singapore regulations without the hassle. Our dedicated company secretary services provide professional management of all your time-consuming administrative tasks, including timely report filings, deadline tracking, and more."
    image={{ src: '~/assets/images/company-secretary.jpg', alt: 'tax advisory hero image' }}
  />

  <Features2
    title="Run Your Business Smoothly with a Dedicated Company Secretary"
    items={[
      {
        title: 'Guidance at Every Step',
        description:
          'Benefit from our years of experience in company secretarial services. We have a proven track record of successfully supporting a wide range of businesses, from startups to established companies.',
        icon: 'flat-color-icons:donate',
      },
      {
        title: 'Deadline Reminders and Proactive Compliance',
        description:
          "We'll proactively monitor your compliance requirements, ensuring timely action or notifying you in advance. You can rest assured that you'll never face late filings or overdue fees.",
        icon: 'flat-color-icons:bullish',
      },
      {
        title: 'Secure Online Access and Document Management',
        description:
          'Our company secretary service is completely online for your convenience. You can electronically sign all necessary documents using DocuSign and access all company documents securely online at any time.',
        icon: 'flat-color-icons:clock',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>
  </Features2>

  <ServiceItem
    title="Essential Company Secretary Services"
    subtitle="We provide a dedicated named company secretary to handle all your essential administrative needs and ensure compliance with mandatory annual procedures."
    items={[
      {
        title: 'Safe Custody of Company Records',
        description: "We'll securely maintain your company's books, records, and company seal/chop (if applicable).",
        serviceType: 'Service Type: Ongoing',
      },
      {
        title: 'Annual Statutory Filing with ACRA',
        description:
          "We'll ensure all statutory forms are filed with ACRA accurately and on time, including payment of all required fees.",
        serviceType: 'Service Type: Annually',
      },
      {
        title: 'Annual General Meeting (AGM) Arrangements',
        description: "We'll arrange your AGM, including sending out necessary notices to shareholders.",
        serviceType: 'Service Type: Annually',
      },
      {
        title: 'Preparation of Meeting Minutes and Resolutions',
        description: "We'll prepare accurate minutes and resolutions passed at the AGM.",
        serviceType: 'Service Type: Annually',
      },
    ]}
  />
  <ServiceItem
    title="Additional Ad-Hoc Secretary Services: Meeting Your Evolving Needs"
    subtitle="As your business grows and changes, you may require additional ad-hoc company secretary services. We offer a comprehensive range of support:"
    items={[
      {
        title: 'Preparation of Board Meetings (Other Than AGM)',
        details: [
          "Preparation of Director's Resolutions",
          'Distribution of Company Financial Reports',
          'Preparation of Meeting Agenda',
          'Communication with Shareholders',
        ],
      },
      {
        title: 'Filing of Company Changes and Statutory Returns with ACRA',
        details: [
          'Appointment or Resignation of Company Officers',
          'Updates to Company Officer and Shareholder Particulars',
          'Amendments to Company Constitution',
          'Share Allotments, Transfers, Capital Reduction, Subdivision, or Consolidation of Shares',
          'Due Diligence on New Shareholders',
          'Changes to Company Name or Principal Activities',
          'Monitoring Statutory Return Filing Deadlines with ACRA',
        ],
      },
      {
        title: 'Maintenance and Upkeep of Statutory Registers',
        details: [
          'Filing of Signed Board Resolutions',
          'Maintenance of Minutes Books (AGMs and EGMs) and Various Registers',
          'Issuance of Share Certificates',
          "Creation and Maintenance of Register of Registrable Controllers (RORC) at the company's registered office. (As of May 2020, the RORC must be filed with ACRA, and any changes must be updated within 2 days. The RORC is accessible to Singapore public agencies, such as law enforcement agencies, but not to the general public.)",
          "Creation and Maintenance of Register of Nominee Directors. (This register must be maintained at the company's registered office and be available for inspection by ACRA upon request.)",
        ],
      },
      {
        title: 'Other Roles and Services',
        details: [
          'Providing Company Resolutions for Corporate Actions (e.g., opening a bank account, changing office holders)',
          'Providing Information and Guidance on Statutory Law Changes',
          'Arranging Document Certification, Notarization, and Legalization',
          'Assistance with Company Striking Off Applications to ACRA and Branch De-registration',
          'Document Stamping',
        ],
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>
  </ServiceItem>
</Layout>
