---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2WithList from '~/components/widgets/Features2WithList.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Solidago Advisory',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Request a quote',
        href: getPermalink('/contact'),
        target: '_blank',
      },
      // { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.jpg', alt: 'Solidago Hero Image' }}
  >
    <Fragment slot="title">
      Simplify your company management with our <span class="text-accent dark:text-white highlight"> expert</span> support
    </Fragment>

    <Fragment slot="subtitle">
      Enjoy stress-free bookkeeping, payroll, and corporate secretary services with <span class="font-semibold"
        >Solidago</span
      >. Register and manage for peace of mind.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features2 Widget *************** -->

  <Features2WithList
    title="Navigating Singapore's Business Landscape: Your Expert Partner"
    subtitle="Seamless and Compliant Expansion in Singapore and Asia. Our expertise ensures your business navigates the complexities of regional regulations with ease."
    columns={4}
    items={[
      {
        title: 'Business set up',
        description: ['Business consulting', 'Company Incorporation'],
        icon: 'flat-color-icons:positive-dynamic',
      },
      {
        title: 'Accounting and taxation',
        description: [
          'Bookkeeping',
          'Compilation of financial statements',
          'GST application and filing',
          'Corporate tax advisory and filing',
          'Personal tax advisory and filing',
        ],
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Company secretary',
        description: ['Registered address', 'Company secretary', 'XBRL compilation and submission'],
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Add on services',
        description: [
          'Payroll outsourcing',
          'CPF registration and submission',
          'IR8A/AIS annual filing',
          'IR21 Tax clearance',
          'CorpPass registration',
          'Strike off a company',
        ],
        icon: 'flat-color-icons:puzzle',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>
  </Features2WithList>
</Layout>
