---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2WithList from '~/components/widgets/Features2WithList.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Solidago Advisory',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Contact us',
        href: getPermalink('/contact'),
        target: '_blank',
      },
      // { text: 'Learn more', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero-image.jpg', alt: 'Solidago Hero Image' }}
  >
    <Fragment slot="title">
      Simplify your business management with our <span class="text-accent dark:text-white highlight">expert</span> support
    </Fragment>

    <Fragment slot="subtitle">
      Enjoy stress-free accounting, taxation, payroll, and company secretary service with <span class="font-semibold"
        >Solidago</span
      >. Register for peace of mind.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <!-- <Note /> -->

  <!-- Features2 Widget *************** -->

  <Features2WithList
    title="Partner with us for business success in Singapore."
    subtitle="Expand your business in Singapore with confidence. Our professionals ensure seamless, compliant expansion by expertly handling all regional regulatory complexities."
    columns={4}
    items={[
      {
        title: 'Business set up',
        description: ['Business consulting', 'Company incorporation'],
        icon: 'flat-color-icons:positive-dynamic',
      },
      {
        title: 'Accounting and taxation',
        description: ['Bookkeeping', 'Financial statements', 'GST', 'Corporate tax', 'Personal tax'],
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Company secretary',
        description: ['Registered address', 'Company secretary', 'Annual return filing', 'XBRL compilation'],
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Add on services',
        description: [
          'Payroll outsourcing',
          'CPF registration and submission',
          'IR8A/AIS annual filing',
          'IR21 Tax clearance',
          'CorpPass registration',
          'And more',
        ],
        icon: 'flat-color-icons:puzzle',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>
  </Features2WithList>
</Layout>
